.root {
  display: flex;
  justify-content: center;

  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  margin-top: 20px;
}

h1.title {
  margin-top: 0;
  margin-bottom: 0;
}

.form :global .ant-form-item-explain-error {
  font-size: 12px;
}

.formSubmit {
  width: 100%;
  margin-top: 10px;
}
