.form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 15px;
  grid-auto-flow: column;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  max-width: 300px;
}
