.header {
  color: #fff;
  background-color: #515c67;
}

.logo {
  font-size: 18px;
}

.profileAvatar {
  background-color: #1677ff;
}

.profileText {
  font-size: 14px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatarContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (width <= 576px) {
  .logo {
    font-size: 16px;
  }

  .profileText {
    display: none;
  }
}
